
body{
    width: 80%;
    margin: 0 auto;
    
}

.container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 10rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color:orange ;
}

div:hover{
    box-shadow: 5px 5px 10px 20px;
    background-color: aqua;
    font-size:larger;
}